<div class="container">
    <div class="w-50">
        <h2 class="heading">スレッド編集</h2>
            <%= form_with model: @boardthread, url: public_boardthread_path, method: :patch do |f| %>
                <table class="table table-borderless">
                    <tr>
                        <td><label for="inputTitle">タイトル</label></td>
                    </tr>
                    <tr>
                        <td><%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"タイトル" %></td>
                    </tr>
                    <tr>
                        <td><label for="inputBody">本文</label></td>
                    </tr>
                    <tr>
                        <td><%= f.text_area :body, placeholder:"本文" %></td>
                    </tr>

                    <tr>
                        <td><%= f.submit "編集する", class: 'btn btn-success' %></td>
                    </tr>
                </table>
            <% end %>
    </div>
</div>