<p>ようこそ、Gamer`sRoomへ！</p>
<br>
<p>ここはレビュー投稿もできるゲームコミュニティサイトです。</p>
<br>
<p>新規投稿にはログインが必要です(検索や閲覧は可能です)</p>
<br>
<p>ログインは<%= link_to 'こちら', new_user_session_path %></p>
<br>
<p>ユーザー登録は<%= link_to 'こちら', new_user_registration_path %></p>