<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <%= form_with model:@genre, url: admin_genre_path, method: :patch, local: true do |f| %>
                <div class="p-3 mb-2 bg-primary text-white">ジャンル名編集</div>
                    <%= f.label :name, "ジャンル名" %>
                    <%= f.text_field :name %>
                    <%= f.submit "編集する", class: 'btn btn-sm btn-success' %>
                </div>
            <% end %>
    </div>
</div>