<div class="container">
    <div class="col-lg-6 offset-lg-3">
        <h2 class="test"><strong>< 管理者メニュー ></strong></h2>
            <ul>
                <li class="admin-menu-list">
                    <%= link_to '新着レビュー一覧', admin_reviews_path %>
                </li>
        
                <li class="admin-menu-list">
                    <%= link_to '新着スレッド一覧', admin_boardthreads_path %>
                </li>
        
               <li class="admin-menu-list">
                    <%= link_to '会員一覧', admin_users_path %>
                </li>
                
                <li class="admin-menu-list">
                    <%= link_to 'ジャンル登録', admin_genres_path %>
                </li>
            </ul>
    </div>
</div>
