<h2><strong>< Gamer'sRoom 管理者メニュー ></strong></h2>
    <div class="container">
        <div class="child">
            <ul>
                <li class="menu-list li">
                    <%= link_to '新着レビュー一覧', admin_reviews_path %>
                </li>
        
                <li class="menu-list li">
                    <%= link_to '新着スレッド一覧', admin_boardthreads_path %>
                </li>
        
               <li class="menu-list li">
                    <%= link_to '会員一覧', admin_users_path %>
                </li>
                
                <li class="menu-list li">
                    <%= link_to 'ジャンル登録', admin_genres_path %>
                </li>
            </ul>
        </div>
    </div>
