< Gamer'sRoom 管理者メニュー >

    <div class="list-group">
        <%= link_to '新着レビュー一覧', admin_reviews_path, class: 'list-group-item list-group-item-action list-group-item-info' %>
    </div>
    
    <div class="list-group">
        <%= link_to '新着スレッド一覧', admin_boardthreads_path, class: 'list-group-item list-group-item-action list-group-item-info' %>
    </div>
    
    <div class="list-group">
        <%= link_to '会員一覧', admin_users_path, class: 'list-group-item list-group-item-action list-group-item-info' %>
    </div>
    
    <div class="list-group">
        <%= link_to 'ジャンル登録', admin_genres_path, class: 'list-group-item list-group-item-action list-group-item-info' %>
    </div>
