<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h2 class="heading">ユーザー一覧</h2>
                <% @users.each do |user| %>
                    <ol class="list">
                        <li>
                            <%= link_to admin_user_path(user.id) do %>
                            <%= user.name %>
                        </li>
                    <% end %>
                    </ol>
                <% end %>
            </div>
    </div>
</div>
