<div class="container">
    <div class="row">
        <div class="col-lg-7 offset-lg-2">
            <h2 class="heading">新着スレッド一覧</h2>
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th></th>
                            <th>スレッドタイトル</th>
                            <th>スレッド内容</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @boardthreads.each do |boardthread| %>
                            <tr>
                                <td></td>
                                <td><%= boardthread.title %></td>
                                <td><%= boardthread.body.truncate(20) %></td>
                                <td><%= link_to '詳細', admin_boardthread_path(boardthread), class: 'btn btn-primary btn-sm' %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
        </div>
    </div>
</div>