<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <p class="text-center">
                <h2><strong>本当に退会しますか？</strong></h2>
                <br>
                ※登録していたお気に入りレビュー、掲示板の一覧は削除されます。<br>
                退会する場合は、「退会する」をクリックしてください。
                <br>
            </p>
            
            <%= link_to "退会しない", public_users_mypage_path, class: 'btn btn-primary' %>
            
            <%= link_to "退会する", public_users_withdraw_path, method: :patch, class: 'btn btn-danger' %>
            
        </div>
    </div>
</div>
 