<div class="container">
    <div class="row">
        <!-- <div class="col-lg-5 offset-lg-4"> -->
        <div class="align-items-center justify-content-center" style="height:300px;">
                <p><h2><strong>本当に退会しますか？</strong></h2></p>
                <br>
                ※登録していたお気に入りレビュー、掲示板の一覧は削除されます。<br>
                退会する場合は、「退会する」をクリックしてください。
                <br>
        
            
            <%= link_to "退会しない", public_users_mypage_path, class: 'btn btn-primary ms-3' %>
            
            <%= link_to "退会する", public_users_withdraw_path, method: :patch, class: 'btn btn-danger ms-3', data: { confirm: "本当に退会しますか？"} %>
        
        </div>
    </div>
</div>
 